<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= marsMissions[mission].name %></title>
</head>
<body>
    <h1><%= marsMissions[mission].name %></h1>
  <div>
     Launch Date: <%= marsMissions[mission].launchDate %>
  </div>
  <div>
     Operator: <%= marsMissions[mission].operator %>
  </div>
  <div>
     Mission Type: <%= marsMissions[mission].missiontype %>
  </div>
</body>
</html>
